dist/build-stats.json
node_modules
.cache
.env
src/lib/gramjs/build/
build-contest/
tests/
!tests/
tests/*
!tests/init.js
!tests/playwright/
tests/playwright/*
!tests/playwright/messaging.spec.ts
!tests/playwright/poll.spec.ts
!tests/playwright/reactions.spec.ts
!tests/playwright/fixtures/
tests/playwright/fixtures/*
!tests/playwright/fixtures/fake-websocket.ts
!tests/playwright/fixtures/mock-state.ts
!tests/playwright/fixtures/setup.ts
.idea
*.iml
dev/perf/screenshot*
.DS_store
.github/workflows/*
!.github/workflows/package-and-publish.yml
